.popup {
  background-color:rgb(235, 181, 185);
  border: 1px solid rgb(28, 36, 145);
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  padding: 1.6rem;
}

.popup__button {
  font-size: 1.6rem;
  border: none;
  border-radius: 0.8rem;
  padding: 0.8rem 1.6rem;
}

.popup__button:hover {
  cursor: pointer;
}
